<a href="https://colab.research.google.com/github/JBH-0/SW/blob/main/20220729.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNIT 32.  람다 표현식 사용하기

람다 표현식에 조건부 표현식 사용하기(470p)

In [ ]:
#함수
a=[1,2,3,4,5,6,7,8,9,10]
def change(x):
  for i in range(len(x)):
    if x[i]%3==0:
      x[i]=str(x[i])
    else:
      continue
  return x
print(change(a))

#람다
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: str(x) if x%3==0 else x,a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

filter 사용하기(472p)

In [ ]:
#함수
def f(x):
  return x>5 and x<10
a=[8,3,2,10,15,7,1,9,0,11]
list(filter(f,a))

#filter없는 함수
def ff(x):
  a=list()
  for i in range(len(x)):
    if x[i]>5 and x[i]<10:
      a.append(x[i])
  return a
a=[8,3,2,10,15,7,1,9,0,11]
ff(a)
#람다 
a=[8,3,2,10,15,7,1,9,0,11]
list(filter(lambda x:x>5 and x<10,a))

[8, 7, 9]

reduce 사용하기(473p)

In [ ]:
#함수
def f(x,y):
  return x+y
a=[1,2,3,4,5,6,7,8,9,10]
from functools import reduce
reduce(f,a)

#람다
a=[1,2,3,4,5,6,7,8,9,10]
from functools import reduce
reduce(lambda x,y:x+y,a)

55

# UNIT 33.  클로저 사용하기

함수 안에서 전역 변수 변경하기(479~480p)

In [ ]:
x=10 #전역 변수
def foo():
  x=20 #x는 foo의 지역 변수
  print(x) #foo의 지역 변수 출력

foo()
print(x) #전역 변수 출력

20
10

In [ ]:
x=10 #전역 변수
def foo():
  global x #전역 변수 x를 사용하겠다고 설정
  x=20 #x는 전역 변수
  print(x) #전역 변수 출력

foo()
print(x) #전역 변수 출력

20
20

In [ ]:
#전역 변수 x가 없는 상태
def foo():
  global x #x를 전역 변수로 만듦
  x=20 #x는 전역 변수
  print(x) #전역 변수 출력

foo()
print(x) #전역 변수 출력

20
20

함수 안에서 함수 만들기(481p)

In [ ]:
#이너 클래스와 같은 개념
#아우터 클래스의 필드를 쓰기 위해서 이너 클래스를 쓴다.
def print_hello():
  hello='Hello, world!'  #아우터 함수의 필드
  def print_message():
    print(hello)
  print_message()
print_hello()

Hello, world!

클로저 사용하기(485~486p)

In [ ]:
def calc():
  a=3
  b=5
  def mul_add(x):
    return a*x+b #함수 바깥쪽에 있는 지역 변수 a,b를 사용하여 계산
  return mul_add #mul_add 함수를 반환
#클로저: 함수를 둘러싼 환경(지역변수,코드 등)을 계속 유지하다가, 함수를 호출할 때 다시 꺼내서 사용하는 함수
c=calc() #c에 mul_add 함수가 들어간다. 여기에 저장된 함수가 클로저이다.
print(c(1),c(2),c(3),c(4),c(5))

8 11 14 17 20

In [ ]:
def calc():
  a=3
  b=5
  def mul_add(x):
    return a*x+b 
  def mul_min(x):
    return a*x-b
  return mul_add, mul_min

c,d=calc() 
e=list(calc())
print(e[0](1),e[1](1),e[0](2))
print(c(1),c(2),c(3),c(4),c(5))
print(d(1),d(2),d(3),d(4),d(5))

8 -2 11
8 11 14 17 20
-2 1 4 7 10

# UNIT 34.  클래스 사용하기

인스턴스를 만들 때 값 받기(501p)

In [ ]:
class Person:
  def __init__(self,name,age,address):
    self.hello='안녕하세요.'
    self.name=name
    self.age=age
    self.address=address

  def greeting(self):
    print('{0} 저는 {1}입니다.'.format(self.hello, self.name))

maria=Person('마리아',20,'서울시 서초구 반포동')
maria.greeting() #안녕하세요. 저는 마리아입니다.

print('이름:',maria.name)
print('나이:',maria.age)
print('주소:',maria.address)

안녕하세요. 저는 마리아입니다.
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

# UNIT 35.  클래스 속성과 정적 ,클래스 메서드 사용하기

클래스 속성 사용하기(512p)

In [ ]:
class Person:
  bag=[] #속성 
  def put_bag(self,stuff): #메서드
    self.bag.append(stuff)

james=Person()
james.put_bag('책')

maria=Person()
maria.put_bag('열쇠')

print(james.bag)
print(maria.bag)

['책', '열쇠']
['책', '열쇠']

인스턴스 속성 사용하기(514p)

In [ ]:
class Person:
   def __init__(self):
     self.bag=[]
   def put_bag(self,stuff): 
    self.bag.append(stuff)

james=Person()
james.put_bag('책')

maria=Person()
maria.put_bag('열쇠')

print(james.bag)
print(maria.bag)

['책']
['열쇠']

비공개 클래스 속성 사용하기(515p)

In [ ]:
class Knight:
  __item_limit=10 #비공개 클래스 속성

  def print_item_limit(self):
    print(Knight.__item_limit) #클래스 안에서만 접근할 수 있음

x=Knight()
x.print_item_limit()

10

정적 메서드 사용하기(516p)

In [ ]:
class Calc:
  @staticmethod
  def add(a,b):
    print(a+b)
  @staticmethod
  def mul(a,b):
    print(a*b)

#클래스에서 바로 메서드 호출
Calc.add(10,20) 
Calc.mul(10,20)

30
200

클래스 메서드 사용하기(518p)

In [ ]:
class Person:
  count=0 #클래스 속성
  def __init__(self):
    Person.count+=1 #인스턴스가 만들어질 때, 클래스 속성 count에 1을 더함
  @classmethod
  def print_count(cls): 
    print('{0}명 생성되었습니다.'.format(cls.count)) #cls로 클래스 속성에 접근

james=Person()
maria=Person()

Person.print_count()

2명 생성되었습니다.